<div class="header">
    <h1>URL shortener</h1>
    <form method="POST" action="/login">
      <input type="text" name="username" placeholder="username">
      <button type="submit">submit</button>
    </form>
</div>
