<div class="header">
  <h1>TinyApp</h1>

  <a class='header_link' href="/login">LOGIN |</a>
  <a class='header_link' href='/urls/register'>REGISTER |</a>
  <a class='header_link' href='/logout'>LOGOUT |</a>
  <a class='header_link' href='/urls'>HOME</a>
</div>
