<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
        html {
          background: white;
          background: #E8EAF6;
        }
        body {
          font-family: 'Montserrat', sans-serif;
          color: white;
          margin: 20px auto;
          max-width: 680px;
          height: 600px;
          padding: 60px;
          background: #3F51B5;
          box-shadow: 6px 4px 41px 2px rgba(0,0,0,0.75);
          border-radius: 5px;
        }
        button {
          margin: 4px 2px;
          cursor: pointer;
          padding: 5px 20px;
        }
        a {
          color: #FFEA00;
        }
        .header_link {
          text-decoration: none;
        }
  </style>
</head>
<body>
<%- include('partials/_header') %>
  <ul>
    <form method="POST" action="/urls/register">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <button type="submit">Register</button>
    </form>
  </ul>
</body>
</html>
